<form #appointmentForm="ngForm" (ngSubmit)="onSubmit()">
  <input type="text" name="customerId" [(ngModel)]="appointment.customerId" required />
  <input type="date" name="appointmentDate" [(ngModel)]="appointment.appointmentDate" required />
  <input type="text" name="appointmentReason" [(ngModel)]="appointment.appointmentReason" required />
  <input type="text" name="appointmentStatus" [(ngModel)]="appointment.appointmentStatus" required />
  <input type="text" name="doctorId" [(ngModel)]="appointment.doctorId" required />
  <button type="submit">Gönder</button>
</form>
